# .coveragerc to control coverage.py
[run]
branch = True
omit =
    tests/*
    drivers/mocks/*
    drivers/debug/*
    drivers/sfm3200_flow_sensor.py
    drivers/sdp8_pressure_sensor.py
    drivers/hce_pressure_sensor.py
    scripts/*
    plot.py
    .tox/*


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover


ignore_errors = True
